<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />

    <bean id="testBean" class="com.github.kazuki43zoo.container.TestBean" destroy-method="destroyMethod"/>

    <bean id="testBeanCreatedByStaticMethod"
          class="com.github.kazuki43zoo.container.StaticTestBeanFactory"
          factory-method="createTestBean"/>

    <bean id="instanceTestBeanFactory"
          class="com.github.kazuki43zoo.container.InstanceTestBeanFactory"/>

    <bean id="testBeanCreatedByInstanceMethod"
          factory-bean="instanceTestBeanFactory"
          factory-method="createTestBean"/>

    <bean id="testBeanCreatedByFactoryBean"
          class="com.github.kazuki43zoo.container.TestBeanFactoryBean"/>


</beans>